.hero{
    background-color: var(--primary-color);
    min-height: calc(85vh - 72px);
    margin-top: 72px;
}

.star{
 width: 20vw;
  gap: 15px;
}

.star .icon{
  color: var(--primary-text-color);
}

.star span{
    height: 4px;
    background-color: var(--primary-text-color);
    flex: 1;
}